.footer-top {
	background: linear-gradient(
		90deg,
		rgba(27, 59, 111, 0.6) 1%,
		rgba(52, 73, 94, 0.88) 46%,
		rgba(27, 59, 111, 0.77) 95%
	);
}

.footer-top-wrapp {
	padding: 24px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.footer-item {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid var(--color-light);
	color: var(--color-light);
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-pay-block {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 4px;
}

.footer-pay-img {
	display: flex;
	align-items: center;
	gap: 12px;
}

.footer-privacy {
	font-weight: 400;
	font-size: clamp(8px, 0.937vw, 12px);
	line-height: 18px;
	color: var(--color-light-grey);
}

.footer-bottom {
	background-color: var(--color-dark);
	padding: 5px 0;
}

.footer-copy {
	font-weight: 400;
	font-size: clamp(8px, 0.937vw, 12px);
	line-height: 18px;
	color: var(--color-light);
	text-align: end;
}

@media (max-width: 768px) {
	.footer-top-wrapp {
		padding: 24px 0px;
		flex-direction: column;
		gap: 24px;
	}

	.footer-pay-block {
		align-items: center;
	}
}

@media (max-width: 580px) {
	.footer-bottom {
		padding: 2px 0;
	}
}
