.header {
	border-bottom: 1px solid var(--color-light-grey);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	background: rgba(201, 201, 201, 0.4);
	box-shadow:
		inset 0px 4px 4px rgba(255, 255, 255, 0.15),
		inset 0px 0px 68px rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
}

.header-wrapp {
	padding: 8px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	width: 140px;
	height: auto;
}

.header-actions {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header-list {
	display: flex;
	align-items: center;
	gap: 30px;
}

.header-item {
	position: relative;
	font-weight: 700;
	font-size: 14px;
	color: var(--color-blue);

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 0;
		height: 2px;
		background-color: var(--color-accent);
		transition: width 0.3s ease-in-out;
	}

	&:hover::after {
		width: 100%;
	}
}

.header-user {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid var(--color-light);
	background-color: var(--color-accent);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-light);
	font-weight: 700;
	font-size: 22px;
	cursor: pointer;
}

.header-menu-btn {
	display: none;
}

@media (max-width: 850px) {
	.header-list {
		display: none;
	}

	.header-menu-btn {
		position: relative;
		display: flex;
		align-items: center;
		width: 30px;
		height: 30px;
	}

	.header-burger {
		width: 30px;
		height: 2px;
		border-radius: 2px;
		background-color: var(--color-blue);
		position: relative;
		transition:
			transform 0.3s ease-in-out,
			background-color 0.3s ease-in-out;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 50%;
			height: 2px;
			background-color: var(--color-blue);
			border-radius: 2px;
			transition: transform 0.3s ease-in-out;
		}

		&::before {
			top: -6px;
			left: 0;
		}

		&::after {
			bottom: -6px;
			right: 0;
		}

		&.open {
			transform: rotate(-45deg);
		}

		&.open::before {
			transform: rotate(90deg);
			top: -7px;
			left: 7px;
		}

		&.open::after {
			transform: rotate(90deg);
			top: 7px;
			left: 7px;
		}
	}
}

@media (max-width: 768px) {
	.header-wrapp {
		padding: 8px 20px;
	}
}

@media (max-width: 425px) {
	.header-wrapp {
		padding: 8px 20px;
	}

	.header-logo {
		width: 100px;
	}
}
