.lessons-item {
	display: flex;
	gap: 40px;
	padding: 24px;
	border-radius: 20px;
	background-color: var(--color-light-grey);
}

.lessons-poster {
	display: block;
	flex-shrink: 0;
	position: relative;
	width: 450px;
	height: 315px;
	border-radius: 20px;
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.3s;

	&:hover {
		transform: scale(1.02);
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.lessons-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.233);
}

.lessons-icon {
	color: white;
	width: 48px;
	height: 48px;
	opacity: 0.9;
}

.lessons-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.lessons-title {
	font-weight: 800;
	font-size: clamp(28px, 2.812vw, 36px);
	line-height: 29px;
	color: var(--color-blue);
	margin-bottom: 24px;
}

.lessons-text {
	font-weight: 500;
	font-size: clamp(16px, 1.562vw, 20px);
	line-height: 28px;
	color: var(--color-blue);
	margin-bottom: 24px;
}

.lessons-btn-box {
	display: flex;
	align-items: center;
	gap: 24px;
}

.lessons-button {
	width: 205px;
	height: 50px;
	background-color: var(--color-accent);
	border: 1px solid var(--color-accent);
	border-radius: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: var(--color-light);
	transition: transform 0.3s;

	&:hover {
		transform: scale(1.02);
	}
}

.lessons-link {
	width: 205px;
	height: 50px;
	border: 1px solid var(--color-accent);
	border-radius: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: var(--color-accent);
	transition: transform 0.3s;

	&:hover {
		transform: scale(1.02);
	}
}

/* .lessons-subtext {
	font-weight: 500;
	font-size: clamp(12px, 1.562vw, 14px);
	line-height: 20px;
	color: var(--color-blue);
	margin-top: 24px;
} */

@media (max-width: 1100px) {
	.lessons-poster {
		width: 380px;
		height: 270px;
	}
}

@media (max-width: 995px) {
	.lessons-item {
		gap: 20px;
		padding: 12px;
	}

	.lessons-poster {
		width: 250px;
		height: 175px;
		margin: auto 0;
	}

	.lessons-button,
	.lessons-link {
		width: 175px;
		height: 45px;
	}
}

@media (max-width: 768px) {
	.lessons-item {
		flex-direction: column;
		padding: 24px;
	}

	.lessons-poster {
		width: 450px;
		height: 315px;
		margin: 0 auto;
	}

	.lessons-info {
		justify-content: center;
	}
}

@media (max-width: 600px) {
	.lessons-poster {
		width: 100%;
		height: auto;
		margin: 0;
	}
}

@media (max-width: 500px) {
	.lessons-item {
		padding: 12px;
	}

	.lessons-btn-box {
		flex-direction: column;
	}

	.lessons-button,
	.lessons-link {
		width: 100%;
		height: 45px;
	}
}
