.reviews-section {
	scroll-margin-top: 60px;
}

.reviews-wrapp {
	position: relative;
	z-index: 2;
	padding: 50px 0px;
}

.reviews-title {
	font-weight: 800;
	font-size: 36px;
	line-height: 29px;
	color: var(--color-blue);
	text-align: center;
	margin-bottom: 50px;
}

.reviews-list {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.reviews-item {
	padding: 20px 20px 20px 40px;
	/* border: 1px solid var(--color-light-grey); */
	background-color: var(--color-light-grey);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	cursor: pointer;
}

.reviews-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.reviews-user {
	display: flex;
	align-items: center;
	gap: 30px;
}

.reviews-avatar {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.reviews-nickname {
	display: flex;
	flex-direction: column;
	gap: 4px;

	p {
		font-weight: 700;
		font-size: 20px;
		line-height: 28px;
		color: var(--color-blue);
	}

	span {
		font-weight: 400;
		font-size: 16px;
		line-height: 22.4px;
		color: var(--color-grey);
	}
}

.reviews-text {
	font-weight: 400;
	font-size: 20px;
	line-height: 36px;
	color: var(--color-blue);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;

	&.open {
		max-height: 100%;
	}
}

.reviews-btn {
	flex-shrink: 0;
	transition: transform 0.3s ease-in-out;
	transform: rotate(0);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-blue);

	&.open {
		transform: rotate(180deg);
	}

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		animation: pulse 1.5s infinite ease-in-out;
	}
}

@keyframes pulse {
	0% {
		scale: 1;
	}

	50% {
		scale: 1.3;
	}

	100% {
		scale: 1;
	}
}

@media (max-width: 768px) {
	.reviews-wrapp {
		padding: 20px 0px 20px 0;
	}

	.reviews-title {
		margin-top: 30px;
		line-height: 40px;
	}
}

@media (max-width: 660px) {
	.reviews-item {
		flex-direction: column;
		padding: 20px;
		gap: 0px;
	}
}

@media (max-width: 570px) {
	.reviews-content {
		gap: 6px;
	}

	.reviews-user {
		flex-direction: column;
		align-items: flex-start;
		gap: 6px;
	}
}

@media (max-width: 425px) {
	.reviews-section {
		scroll-margin-top: 47px;
	}

	.reviews-wrapp {
		padding: 20px 10px 20px 0;
	}
}
